{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="header">
    <a href="{% url 'news-grid' %}">&larr; Back to News</a>
</div>

<div class="news-post">
    <img src="{{ news_post.image.url }}" alt="{{ news_post.title }}">
    <h1>{{ news_post.title }}</h1>
    <p class="category-name">{{ news_post.category.name }}</p>
    <p>{{ news_post.date_posted }} at {{ news_post.time_posted }}</p>
    <p>Views: {{ news_post.views }} | Comments: {{ news_post.comments }}</p>
    <br>
    <div class="main-text">
        {{ news_post.main_text }}
    </div>

    <br><br>

    <div class="comment-form">
        <form action="" method="post">
            {% csrf_token %}
            <textarea name="comment" placeholder="Leave a comment..." required></textarea>
            <button type="submit">Post Comment</button>
        </form>
    </div>
    <br>
    <div class="comments">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.author }}</strong> {{ comment.created_date }}</p>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
